@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-quicksand);
  font-weight: bold;
}

span,
p,
li,
a {
  font-family: var(--font-imprima);
}

/* Custom Daisy UI specific variables */

.menu {
  --menu-active-bg: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #bd1220;
  --secondary: #fde8d3;
  --accent: #ffbaa6;
  --tx-primary: #000000;
  --tx-secondary: #ffffff;
  --tx-accent: #3a1810;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
